.square {
    width: 100px;
    height: 100px;
    background-color:transparent;
}

.v {
    border-left: 9px solid #000;
    border-right: 9px solid #000;
}

.h {
    border-top: 9px solid #000;
    border-bottom: 9px solid #000;
}

input {
    width: 130px;
    height: 130px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 4.5em;
    font-family: Comic Sans MS;
   
}

td {
    text-align: center;
    vertical-align: middle;
}

#board {
    text-align: center;
    
}

h1 {
    text-align: center;
}

.rt {
    margin-top: 20px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    border: 10 solid black;
    font-size: 30px;
    background-color: transparent;
    
}

table {
    text-align: center;
    margin: auto;
}
body{
    background: #B993D6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
