<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Game Tictactoe developed with: javascript on frontend. Python and Flask how Backend">
    <meta name="author" content="Cristian Andres Arias Páez, Hernan Alirio Cadena Gonzalez, Joham Sebastian Medina Corredor"/>
    <title>Triky</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <h1 style="margin-bottom: 20px; font-family: Comic Sans MS;" class="display-2">Triki</h1>
        
        <div id="board">
            <div>
                <table>
                    <tr id="row1">
                        <td class="square">
                            <form action="/0">
                                <input style="background-color:transparent;border: 0;" type="submit" value="{{ board[0][0] }}" {{ board[0][1] }}>
                            </form>
                        </td>
                        <td class="square v">
                            <form action="/1">
                                <input style="background-color:transparent;border: 0;" type="submit" value="{{ board[1][0] }}" {{ board[1][1] }}>
                            </form>
                        </td>
                        <td class="square">
                            <form action="/2">
                                <input style="background-color:transparent;border: 0;" type="submit" value="{{ board[2][0] }}" {{ board[2][1] }}>
                            </form>
                        </td>
                    </tr>
                    <tr id="row2">
                        <td class="square h">
                            <form action="/3">
                                <input style="background-color:transparent;border: 0;" type="submit" value="{{ board[3][0] }}" {{ board[3][1] }}>
                            </form>
                        </td>
                        <td class="square v h">
                            <form action="/4">
                                <input style="background-color:transparent;border: 0;" type="submit" value="{{ board[4][0] }}" {{ board[4][1] }}>
                            </form>
                        </td>
                        <td class="square h">
                            <form action="/5">
                                <input style="background-color:transparent;border: 0;" type="submit" value="{{ board[5][0] }}" {{ board[5][1] }}>
                            </form>
                        </td>
                    </tr>
                    <tr id="row3">
                        <td class="square">
                            <form action="/6">
                                <input style="background-color:transparent;border: 0;" type="submit" value="{{ board[6][0] }}" {{ board[6][1] }}>
                            </form>
                        </td>
                        <td class="square v">
                            <form action="/7">
                                <input style="background-color:transparent;border: 0;" type="submit" value="{{ board[7][0] }}" {{ board[7][1] }}>
                            </form>
                        </td>
                        <td class="square">
                            <form action="/8">
                                <input style="background-color:transparent;border: 0;" type="submit" value="{{ board[8][0] }}" {{ board[8][1] }}>
                            </form>
                        </td>
                    </tr>
                </table>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h3>{{ messages[0] }}</h3>
                        {% endfor %}
                    {% endif %}
                {% endwith%}
                <form action="/r">
                    <input class="rt" type="submit" value="reset" >
                </form>
            </div>
        </div>
    </div>
    
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>